@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jn0j73');
  src:  url('fonts/icomoon.eot?jn0j73#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jn0j73') format('truetype'),
    url('fonts/icomoon.woff?jn0j73') format('woff'),
    url('fonts/icomoon.svg?jn0j73#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-corazon:before {
  content: "\e900";
}
.icon-diamante:before {
  content: "\e901";
}
.icon-vaso:before {
  content: "\e902";
}
.icon-avion:before {
  content: "\e903";
}
.icon-comida:before {
  content: "\e904";
}

